@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

body {
    user-select: none;
    overflow: hidden;
}

.app_container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    background: #616161;
    justify-content: space-between;
}

.app_divsContainer {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    width: 100%;
}

.app_divs {
    background: #FF0000;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.63);
}

.app_container_s {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background: radial-gradient(50.05% 50.05% at 50% 49.95%, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
    mix-blend-mode: overlay;
    z-index: 3;
}

.app_logo {
    position: absolute;
    float: right;
    top: 0;
    left: 0;
    font-weight: 600;
    font-size: 3vw;
    color: #616161;
    z-index: 100;
    margin: 1vw 0vw 0vw -2vw;

}



/* MENU */

.menu_container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: 4;
    transition: all 0.5s;
}

.menu_optionsContainer {
    width: 20vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #D20000;
    box-shadow: inset -4px 0px 15px rgba(0, 0, 0, 0.25);
}

.menu_div1 {
    width: 3vw;
    background: #5E5E5E;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.51);
    height: 100%;
}

.menu_button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .5vw;
    background: #5E5E5E;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.59);
    border-radius: 0px 60px 60px 0px;
    height: 4vw;
    width: 4vw;
    justify-content: center;
    margin-top: 2vh;
}

.menu_button div {
    width: 2vw;
    height: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.menu_button div div {
    width: 100%;
    height: 20%;
    background-color: #FF0000;
    box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.774);
}

.menu_name {
    width: 100%;
    padding: 1vw 0 1vw 0;
    font-size: 3vw;
    background: #D20000;
    color: #FFFFFF;
    text-shadow: 2px 2px 0.1px rgba(0, 0, 0, 0.28);
    text-align: center;
}

.menuOption_container {
    background: #FF0000;
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    font-size: 1.5vw;
    color: #FFFFFF;
    text-shadow: 2px 2px 0.1px rgba(0, 0, 0, 0.28);
    text-align: center;
    padding: 1.5vw 0 1.5vw 0;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.5s;
}
.menuOption_container:hover {
    width: 110%;
}